        /*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
        
        html,
        body,
        div,
        span,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        abbr,
        address,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        samp,
        small,
        strong,
        sub,
        sup,
        var,
        b,
        i,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
        }
        
        body {
            line-height: 1;
        }
        
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }
        
        nav ul {
            list-style: none;
        }
        
        blockquote,
        q {
            quotes: none;
        }
        
        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none;
        }
        
        a {
            margin: 0;
            padding: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
        }
        /* change colours to suit your needs */
        
        ins {
            background-color: #ff9;
            color: #000;
            text-decoration: none;
        }
        /* change colours to suit your needs */
        
        mark {
            background-color: #ff9;
            color: #000;
            font-style: italic;
            font-weight: bold;
        }
        
        del {
            text-decoration: line-through;
        }
        
        abbr[title],
        dfn[title] {
            border-bottom: 1px dotted;
            cursor: help;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        /* change border colour to suit your needs */
        
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #cccccc;
            margin: 1em 0;
            padding: 0;
        }
        
        select {
            vertical-align: middle;
        }

        header{
            width: 920px;
            margin: 0 auto;
        }
        .header_right{
            margin: 3px 0 5px 0;
        }
        .hdr_inr{
            display: flex;
            justify-content: space-between;
        }
        .hdr_inr h1{
            margin: 20px 0;
        } 
        .time{
            padding: 0.5em 1em;
            margin: 0.5em 0;
            font-weight: bold;
            border: solid 1px #000000;
            }
        .time span{
            color: red;
        }
        .nav{
            display: flex;
            background: #83D4D2;
            padding: 20px 30px;
        }
        .nav li{
           
            display: block;
            width: 920px;
        }    
        .nav a{
            color: white;
            text-decoration: none;
            }
        
         main{
            width: 920px;
            margin: 0 auto;
        }
        .inner {
            display: flex;
            justify-content: space-between;    
        }
        .left {
            width: 250px; 
            border-style: solid;
            border-width: 1px;
            border-color: #6CC6C4;
            background-color: #ffffff;
         }
         .left li{
            list-style: none;
         }
        .list_color {
            background: #83D4D2;
            color: white;
            padding: 10px;
        }
        .upper_list{
            margin: 10px 0;
        }
        .lower_list{
            margin: 10px 0;
        }

        .right{
            width: 640px;
        }
        .image {
            margin: 10px 0;
            display: block;
        }
        .imformation{
            margin: 10px 0;
        }

         .low_block {
            background: #83D4D2;
            padding: 5px;
            font-size: small;
        }
        .low_block a{
            text-decoration: none;
            color: #ffffff;
            
        }
        .address {
            display:flex;
            justify-content: flex-end;
            margin: 10px 0;
        }
        
        footer small {
            display:flex; 
            justify-content: center;
        }